$font-dir: '../fonts';

// font-regular
@font-face {
    font-family: 'Panton';
    src: url('#{$font-dir}/Panton-Regular.eot');
    src: url('#{$font-dir}/Panton-Regular.eot?#iefix') format('embedded-opentype'), url('#{$font-dir}/Panton-Regular.woff2') format('woff2'), url('#{$font-dir}/Panton-Regular.woff') format('woff'), url('#{$font-dir}/Panton-Regular.ttf') format('truetype'), url('#{$font-dir}/Panton-Regular.svg#Panton-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// font-italic
@font-face {
    font-family: 'Panton';
    src: url('#{$font-dir}/Panton-Italic.eot');
    src: url('#{$font-dir}/Panton-Italic.eot?#iefix') format('embedded-opentype'), url('#{$font-dir}/Panton-Italic.woff2') format('woff2'), url('#{$font-dir}/Panton-Italic.woff') format('woff'), url('#{$font-dir}/Panton-Italic.ttf') format('truetype'), url('#{$font-dir}/Panton-Italic.svg#Panton-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

// font-bold
@font-face {
    font-family: 'Panton';
    src: url('#{$font-dir}/Panton-Bold.eot');
    src: url('#{$font-dir}/Panton-Bold.eot?#iefix') format('embedded-opentype'), url('#{$font-dir}/Panton-Bold.woff2') format('woff2'), url('#{$font-dir}/Panton-Bold.woff') format('woff'), url('#{$font-dir}/Panton-Bold.ttf') format('truetype'), url('#{$font-dir}/Panton-Bold.svg#Panton-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
} 

// font-bold-italic
@font-face {
    font-family: 'Panton';
    src: url('#{$font-dir}/Panton-BoldItalic.eot');
    src: url('#{$font-dir}/Panton-BoldItalic.eot?#iefix') format('embedded-opentype'), url('#{$font-dir}/Panton-BoldItalic.woff2') format('woff2'), url('#{$font-dir}/Panton-BoldItalic.woff') format('woff'), url('#{$font-dir}/Panton-BoldItalic.ttf') format('truetype'), url('#{$font-dir}/Panton-BoldItalic.svg#Panton-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

// font-black
@font-face {
    font-family: 'Panton';
    src: url('#{$font-dir}/Panton-Black.eot');
    src: url('#{$font-dir}/Panton-Black.eot?#iefix') format('embedded-opentype'), url('#{$font-dir}/Panton-Black.woff2') format('woff2'), url('#{$font-dir}/Panton-Black.woff') format('woff'), url('#{$font-dir}/Panton-Black.ttf') format('truetype'), url('#{$font-dir}/Panton-Black.svg#Panton-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

// font-black-italic
@font-face {
    font-family: 'Panton'; 
    src: url('#{$font-dir}/Panton-BlackItalic.eot');
    src: url('#{$font-dir}/Panton-BlackItalic.eot?#iefix') format('embedded-opentype'), url('#{$font-dir}/Panton-BlackItalic.woff2') format('woff2'), url('#{$font-dir}/Panton-BlackItalic.woff') format('woff'), url('#{$font-dir}/Panton-BlackItalic.ttf') format('truetype'), url('#{$font-dir}/Panton-BlackItalic.svg#Panton-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}
